.Education{
    width: 55%;
    height: 100%;
    margin: 0% 5%;
    margin-top: 2%;
    margin-left: 5%;
    background: #e5a6f8;
    border-radius: 20px;
     padding-top: 0%;
     text-align: center;
}
